.TABLE_SERVER_NAME{
    font-size: 20px;
    color: rgb(124, 124, 124);
    font-weight: bolder;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
}

.TABLE_SERVER_NAME:hover{
    color: #015ec2;
    text-decoration: none;


}